<h1>Customer Details</h1>

<a ui-sref="clist">Back to list</a>
<br>
<br>

<table>
    <tr>
        <td>Name:</td>
        <td> <input type="text" ng-model="customer.name"> </td>
    </tr>
    <tr>
        <td>Address:</td>
        <td> <input type="text" ng-model="customer.addressline1"> </td>
    </tr>
    <tr>
        <td></td>
        <td> <input type="text" ng-model="customer.addressline2"> </td>
    </tr>
    <tr>
        <td>City:</td>
        <td> <input type="text" ng-model="customer.city"> </td>
    </tr>
    <tr>
        <td>State:</td>
        <td> <input type="text" ng-model="customer.state"> </td>
    </tr>

</table>